<h1>Calculator Program</h1>

<div class="calculator">
  <div class="row">
    <button type="button" name="button1">1</button>
    <button type="button" name="button2">2</button>
    <button type="button" name="button3">3</button>
  <div>

  <div class="row">
    <button type="button" name="button4">4</button>
    <button type="button" name="button5">5</button>
    <button type="button" name="button6">6</button>
  </div>

  <div class="row">
    <button type="button" name="button7">7</button>
    <button type="button" name="button8">8</button>
    <button type="button" name="button9">9</button>
  </div>

  <div class="row">
    <button type="button" name="button0">0</button>
  </div>

  <div class="row">
    <button type="button" name="button_plus">+</button>
    <button type="button" name="button_minus">-</button>
    <button type="button" name="button_divide">/</button>
    <button type="button" name="button_multiply">x</button>

    <button type="button" name="button_equals">=</button>
  </div>
</div>
